#root,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;

    user-select: none;
}

.html-screen iframe {
    /* width: 620px;
    height: 320px; */
    /* border-radius: 1rem; */
    /* pointer-events: none; */

    width: 1413px;
    height: 733px;
    border: none;
    background-color: black;
}
